* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  background-color: transparent;
  border: 0;
  &:focus {
    outline: 0;
  }
}

@import "./utils/variables.scss";
@import "./utils/mixins.scss";
@import "./utils/fonts.scss";
@import "./utils/colors.scss";
@import "./utils/overlay.scss";
@import "./utils/typography.scss";
@import "./utils/spinner.scss";
@import "./utils/titles.scss";
@import "./utils/wrappers.scss";
@import "./utils/button.scss";
@import "../src/components/app/style.scss";
@import "../src/components/counter/style.scss";
@import "../src/components/foo/style.scss";
