* {
  font-family: sans-serif;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: 0;
  &:focus {
    outline: 0;
  }
}

.nav {
  .nav__item {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    color: steelblue;
  }
}

.nav--foobutton {
  color: steelblue;
  padding: 8px;
  border: 2px solid steelblue;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 5px;
  transition: all 0.3s linear;
  cursor: pointer;
  &:hover {
    background-color: steelblue;
    color: white;
  }
}

.home {
  .home__num {
    color: white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: MediumVioletRed;
    margin-right: 10px;
    margin-left: 10px;
  }
  .home__increase, .home__decrease {
    color: rebeccapurple;
    padding: 5px;
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    transition: all 0.3s linear;
    cursor: pointer;
    display: inline;
    &:hover {
      background-color: rebeccapurple;
      color: white;
    }
  }
}

.foo {
  color: magenta;
}

.bar {
  color: mediumblue;
}
