/*standard colors*/

$red: #cc3333;
$orange: #ff9933;
$yellow: #ddd433;
$green: #66cc66;
$cyan: #77dbaa;
$blue: #3176D3; /* #3075D2 from style tile work */
$violet: #9966b8;
$pink: #ff6699;
$blueLight: #68ccee;

/*black and white*/

$white: #ffffff;
$black: #000000;
$black1: #f5f5f5;
$black5: #f2f2f2;
$black8: #eaeaea;
$black14: #dbdbdb;
$black15: #dddddd;
$black25: #c4c4c4;
$black35: #9b9b9b;
$black40: #999999;
$black50: #808080;
$black65: #505050;
$black75: #404040;
$black80: #333333;

/*blue shades*/

$blue10: #e7e9f5;
$blue20: #d2d8ee;
$blue30: #bec8e6;
$blue40: #acbadf;
$blue50: #9aabd8;

/*violet shades*/

$violet10: #ddd8e3;

/* BUSINESS PLATFORM SPECIFIC COLORS */

$cyan-work: #65CBFF;
$green-work: #65CB65;
$orange-work: #ff9933;

$c-me_at_work: $blue;
$c-team_achievments-work: $cyan;
$c-sustanability_forum-work: $violet;
$c-me_at_home-work: $green;
$c-social-work: $orange;

$c-action-work: $blue;
$c-challenge-work: $violet;
$c-thought: $violet;
$c-social-work: $orange-work;

/* PHASES */

$bd: #68ccee;
$ec: #ffca6d;
$om: #329832;
$bdLight: #a1e8f8;
$ecLight: #ffe7a6;
$omLight: #61c961;

/* TOOL PROGRESS BAR */

$tool: #2f73d3;
$toolLight: #68ccee;
