.marker-popup-subtitle {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
}

.siteplant-subtitle {
  letter-spacing: 0.3px;
  margin-bottom: 20px;
  color: $black75;
  font-size: 18px;
  font-weight: bold;
}

.tool-subtitle {
  color: $black75;
  font-size: 14px;
  letter-spacing: 0.3px;
}

.tool-title {
  color: $black75;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.3px;
}

.step-popup-subtitle {
  color: $black75;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-top: 3px;
}
