$font-size-default: 14px;
$font-size-biggest: 26px;
$font-size-huge: 18px;
$font-size-big: 16px;
$font-size-medium: 14px;
$font-size-small: 12px;
$font-size-tiny: 10px;
$font-size-quote: 24px;

$mobile-font-size-default: 14px;
$mobile-font-size-huge: 18px;
$mobile-font-size-big: 16px;
$mobile-font-size-medium: 14px;
$mobile-font-size-small: 12px;

$icon-font-size-default: 22px;
$icon-font-size-huge: 80px;
$icon-font-size-biggest: 50px;
$icon-font-size-big: 40px;
$icon-font-size-medium: 26px;
$icon-font-size-small: 10px;
